<ul>
  <li>
    <div>
      Player 1: <%= @game.player_1.id %>
    </div>

    <div>
      Player 2: <%= @game.player_2 ? @game.player_2.id : "Waiting on player 2" %>
    </div>
  </li>
</ul>

<%= game_over_message %>

<div class="grid place-items-center w-full h-full">
  <div class="grid grid-rows-[100px_100px_100px] grid-cols-[100px_100px_100px] gap-[1px] p-0.5 bg-black">
    <% @game.board.each.with_index do |cell, cell_index| %>
      <div class="w-full h-full bg-slate-100" data-cell-index="<%= cell_index %>">
        <% if @game.board[cell_index] == @game.player_1_id.to_i %>
          <div data-player="x" class="
            grid place-items-center
            relative
            w-full
            h-full
            before:absolute
            before:w-full
            before:border-[4px]
            before:rotate-45
            after:absolute
            after:w-full
            after:border-[4px]
            after:-rotate-45
          "></div>
        <% elsif @game.board[cell_index] == @game.player_2_id.to_i %>
          <div data-player="o" class="
            grid place-items-center
            w-[70%]
            h-[70%]
            rounded-full
            bg-slate-400
            after:content-['']
            after:bg-slate-100
            after:rounded-full
            after:w-[80%]
            after:h-[80%]
          "></div>
        <% else %>
          <%= form_with url: play_game_path(@game, cell_index), method: :put, class: "w-full h-full" do |f| %>
            <%= f.submit "", class: "block w-full h-full cursor-pointer" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
