<%= turbo_stream_from @game %>

<ul>
  <li>
    <div>
      Player 1: <%= @game.player_1.id %>
    </div>

    <div>
      Player 2: <%= @game.player_2 ? @game.player_2.id : "Waiting on player 2" %>
    </div>
  </li>
</ul>

<div id="game-over-message">
  <%= render partial: "game_over_message", locals: { game: @game } %>
</div>

<div class="grid place-items-center w-full h-full">
  <div class="rounded-md grid grid-rows-[100px_100px_100px] grid-cols-[100px_100px_100px] gap-[1px] p-0.5 bg-slate-500">
    <% @game.board.each.with_index do |_cell, cell_index| %>
      <div id="cell_<%= cell_index %>" data-cell-index="<%= cell_index %>">
        <%= render partial: "cell", locals: { game: @game, cell_index: cell_index } %>
        </div>
    <% end %>
  </div>
</div>
